<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.js"></script>
<link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.css" />
    <title>Authentication is Fun</title>
    <style >
        body {text-align: center;background-color: lightseagreen;color: black;}
    </style>
</head>
<body>
    <div id="authForm">
        <h2>Sign up or Sign in</h2>        
        <input type="text" id="userEmail" placeholder="E-mail">
        <input type="password" id="userPassword" placeholder="password"><br><br>
        <button id= "signInButton">Create Account/Sign in</button>
        <button id= "signOutButton">Sign Out</button>    
    </div>

    <div id= "message"></div>
        <p>You have signed in</p>

    <div id= "login-box">
        <div class="left">
            <h1>Sign up</h1>
            <input type="text" id="email" name="email" placeholder="E-mail">
            <input type="password" id="password" name="password" placeholder="password">
            <input type="submit" id="saveData" name="signup_submit" value="Remove">
        </div>
        <div class= "right">     
        <span class= "loginwith">Sign in with<br />social network</span>
        </div>
         <div class = "or" > Or</div>
    </div>
        </body>
        <script type="module">
            // Import the functions you need from the SDKs you need
            import { initializeApp } from "https://www.gstatic.com/firebasejs/10.8.0/firebase-app.js";
            import { getDatabase } from "https://www.gstatic.com/firebasejs/10.8.0/firebase-database.js";
            import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.8.0/firebase-analytics.js";

            // TODO: Add SDKs for Firebase products that you want to use
            // https://firebase.google.com/docs/web/setup#available-libraries
        
            // Your web app's Firebase configuration
            // For Firebase JS SDK v7.20.0 and later, measurementId is optional
            const firebaseConfig = {
            apiKey: "AIzaSyDB8HRp2gYjteaS4hryqzQB2fh54FDzWn0",
            authDomain: "first-b689f.firebaseapp.com",
            databaseURL: "https://first-b689f-default-rtdb.firebaseio.com",
            projectId: "first-b689f",
            storageBucket: "first-b689f.appspot.com",
            messagingSenderId: "4977128071",
            appId: "1:4977128071:web:f816e9c1f1094020aefe22",
            measurementId: "G-TD7WF2EZ6X"
            };

            const app = initializeApp(firebaseConfig);
            const analytics = getAnalytics(app);
            const database = getDatabase(app)

            firebase.auth().createUserWithEmailAndPassword(email, password)
                .then((userCredential) => {
                    // Signed in 
                    var user = userCredential.user;
                    // ...
                })
                .catch((error) => {
                    var errorCode = error.code;
                    var errorMessage = error.message;
                    // ..
                });

            firebase.auth().signInWithEmailAndPassword(email, password)
                .then((userCredential) => {
                    // Signed in
                    var user = userCredential.user;
                    // ...
                })
                .catch((error) => {
                    var errorCode = error.code;
                    var errorMessage = error.message;
                });
                firebase.auth().onAuthStateChanged((user) => {
                    if (user) {
                        // User is signed in, see docs for a list of available properties
                        // https://firebase.google.com/docs/reference/js/v8/firebase.User
                        var uid = user.uid;
                        // ...
                    } else {
                        // User is signed out
                        // ...
                    }
                    });



        
            // Initialize Firebase

  </script>
</html>